// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2023 Avnet
 */

/dts-v1/;

#include <dt-bindings/usb/pd.h>
#include "imx8mq.dtsi"

/ {
	model = "Avnet MaaXBoard";
	compatible = "avnet,maaxboard", "fsl,imx8mq";

	chosen {
		stdout-path = &uart1;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x00000000 0x40000000 0 0x40000000>;
	};

	resmem: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		/* global autoconfigured region for contiguous allocations */
		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0 0x3c000000>;
			alloc-ranges = <0 0x40000000 0 0x40000000>;
			linux,cma-default;
		};
	};

	pmic_osc: clock-pmic {
        compatible = "fixed-clock";
        #clock-cells = <0>;
        clock-frequency = <32768>;
        clock-output-names = "pmic_osc";
    };

    leds {
        compatible = "gpio-leds";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio_leds>;
        status = "okay";

        sys_led {
            label = "sys_led";
            gpios = <&gpio1 5 0>;
            default-state = "on";
            linux,default-trigger = "heartbeat";
        };  

        usr_led {
            label = "usr_led";
            gpios = <&gpio1 8 0>;
            default-state = "on";
        };  

    };  

    gpio_keys {
        compatible = "gpio-keys";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_gpio_keys>;

        home {
            label = "home Button";
            gpios = <&gpio3 7 GPIO_ACTIVE_LOW>;
            linux,code = <KEY_HOME>;
            gpio-key,wakeup;
        };  

        back {
            label = "back Button";
            gpios = <&gpio3 6 GPIO_ACTIVE_LOW>;
            linux,code = <KEY_PREVIOUS>;
        };  
    };

    regulators {
        compatible = "simple-bus";
        #address-cells = <1>;
        #size-cells = <0>;

        reg_usb1_en: regulator-usb1-vcc {
            compatible = "regulator-fixed";
            pinctrl-names = "default";
            pinctrl-0 = <&pinctrl_usb1_pwr_en>;
            regulator-name = "usb1_pwr_en";
            regulator-min-microvolt = <3300000>;
            regulator-max-microvolt = <3300000>;
            enable-active-high;
            regulator-always-on;
            regulator-boot-on;
            startup-delay-us = <160000>;
            gpio = <&gpio1 12 GPIO_ACTIVE_LOW>;
        };

        reg_3V3WF: regulator@1 {
            compatible = "regulator-fixed";
            reg = <1>;
            pinctrl-names = "default";
            pinctrl-0 = <&pinctrl_reg3V3wf>;
            regulator-name = "WF_3V3";
            regulator-min-microvolt = <3300000>;
            regulator-max-microvolt = <3300000>;
            gpio = <&gpio2 20 0>;  /* WB_PWR_EN */
            regulator-always-on;
            enable-active-high;
        };
	}; 

    wlan_pwrseq: sdio-pwrseq {
        compatible = "mmc-pwrseq-simple";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_wlan>;
        reset-gpios = <&gpio2 19 GPIO_ACTIVE_LOW>;    /* WL_REG_ON */
    };

    bt_reset: bt_reset{
        compatible = "gpio-reset";
        reset-gpios = <&gpio5 11 GPIO_ACTIVE_LOW>;    /* BT_REG_ON */
        reset-delay-us = <1000>;
        reset-post-delay-ms = <40>;
        #reset-cells = <0>;
    };

    hdmi_audio: sound-hdmi {
        compatible = "fsl,imx-audio-hdmi";
        model = "imx-audio-hdmi";
        audio-cpu = <&sai4>;
        protocol = <1>;
        hdmi-out;
        constraint-rate = <44100>,
                <88200>,
                <176400>,
                <32000>,
                <48000>,
                <96000>,
                <192000>;
        status = "disabled";
    };

    backlight: pwm-backlight {
            compatible = "pwm-backlight";
            pwms = <&pwm1 0 40000 0>;
            brightness-levels = <0 8 32 64 96 128 160 192 224 255>;
            default-brightness-level = <8>;
            enable-pwm-on;
            status = "disabled";
    };
};

&A53_0 {
	cpu-supply = <&buck2_reg>;
};

&A53_1 {
	cpu-supply = <&buck2_reg>;
};

&A53_2 {
	cpu-supply = <&buck2_reg>;
};

&A53_3 {
	cpu-supply = <&buck2_reg>;
};

/* Ethernet */
&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_fec1>;
	phy-mode = "rgmii-id";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	phy-reset-gpios = <&gpio1 9 GPIO_ACTIVE_LOW>;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <4>;
			at803x,eee-disabled;
		};
	};
};

&i2c1 {
    clock-frequency = <100000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c1>;
    status = "okay";

    pmic: pmic@4b {
        compatible = "rohm,bd71837";
        reg = <0x4b>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pmic>;
        clocks = <&pmic_osc>;
        clock-names = "osc";
        clock-output-names = "pmic_clk";
        interrupt-parent = <&gpio1>;
        interrupts = <7 GPIO_ACTIVE_LOW>;
        interrupt-names = "irq";
        rohm,reset-snvs-powered;

        regulators {
            buck1_reg: BUCK1 {
                regulator-name = "buck1";
                regulator-min-microvolt = <700000>;
                regulator-max-microvolt = <1300000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <1250>;
                rohm,dvs-run-voltage = <900000>;
                rohm,dvs-idle-voltage = <850000>;
                rohm,dvs-suspend-voltage = <800000>;
            };

            buck2_reg: BUCK2 {
                regulator-name = "buck2";
                regulator-min-microvolt = <700000>;
                regulator-max-microvolt = <1300000>;
                regulator-boot-on;
                regulator-always-on;
                regulator-ramp-delay = <1250>;
                rohm,dvs-run-voltage = <1000000>;
                rohm,dvs-idle-voltage = <900000>;
            };

            buck3_reg: BUCK3 {
                regulator-name = "buck3";
                regulator-min-microvolt = <700000>;
                regulator-max-microvolt = <1300000>;
                regulator-boot-on;
                rohm,dvs-run-voltage = <1000000>;
                regulator-enable-ramp-delay= <180>;
            };

            buck4_reg: BUCK4 {
                regulator-name = "buck4";
                regulator-min-microvolt = <700000>;
                regulator-max-microvolt = <1300000>;
                rohm,dvs-run-voltage = <1000000>;
                regulator-boot-on;
                regulator-enable-ramp-delay= <180>;
            };

            buck5_reg: BUCK5 {
                regulator-name = "buck5";
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <1000000>;
                regulator-boot-on;
                regulator-always-on;
            };

            buck6_reg: BUCK6 {
                regulator-name = "buck6";
                regulator-min-microvolt = <3000000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            buck7_reg: BUCK7 {
                regulator-name = "buck7";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1900000>;
                regulator-boot-on;
                regulator-always-on;
            };

            buck8_reg: BUCK8 {
                regulator-name = "buck8";
                regulator-min-microvolt = <1200000>;
                regulator-max-microvolt = <1300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            ldo1_reg: LDO1 {
                regulator-name = "ldo1";
                regulator-min-microvolt = <3000000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };

            ldo2_reg: LDO2 {
                regulator-name = "ldo2";
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <900000>;
                regulator-boot-on;
                regulator-always-on;
            };

            ldo3_reg: LDO3 {
                regulator-name = "ldo3";
                regulator-min-microvolt = <1800000>;
                regulator-max-microvolt = <1900000>;
                regulator-boot-on;
                regulator-always-on;
            };
            
            ldo4_reg: LDO4 {
                regulator-name = "ldo4";
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <1000000>;
                regulator-boot-on;
                regulator-always-on;
            };

            ldo5_reg: LDO5 {
                regulator-name = "ldo5";
                regulator-min-microvolt = <2500000>;
                regulator-max-microvolt = <2600000>;
                regulator-boot-on;
                regulator-always-on;
            };

            ldo6_reg: LDO6 {
                regulator-name = "ldo6";
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <1000000>;
                regulator-boot-on;
                regulator-always-on;
            };

            ldo7_reg: LDO7 {
                regulator-name = "ldo7";
                regulator-min-microvolt = <3000000>;
                regulator-max-microvolt = <3300000>;
                regulator-boot-on;
                regulator-always-on;
            };
        };
    };
};

&pgc_gpu {
	power-supply = <&buck3_reg>;
};

&pgc_vpu {
	power-supply = <&buck4_reg>;
};

&snvs_pwrkey {
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clk IMX8MQ_CLK_UART1>;
	assigned-clock-parents = <&clk IMX8MQ_CLK_25M>;
	status = "okay";
};

/* TF card or eMMC */
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	bus-width = <8>;
	non-removable;
	no-sdio;
    no-1-8-v;
	status = "okay";
};

/* WiFi on SDHC2 */
&usdhc2 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usdhc2>;
    bus-width = <4>;
    vmmc-supply = <&reg_3V3WF>;
    mmc-pwrseq = <&wlan_pwrseq>;
    no-1-8-v;
    non-removable;
    pm-ignore-notify;
    keep-power-in-suspend;
    status = "okay";

    #address-cells = <1>;
    #size-cells = <0>;
    brcmf: bcrmf@1 {
            reg = <1>;
            compatible = "brcm,bcm4329-fmac";
            interrupt-parent = <&gpio2>;
            interrupts = <12 IRQ_TYPE_LEVEL_LOW>;
            interrupt-names = "host-wake";
        };  
};

/* Bluetooth on UART4 */
&uart4 {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_uart4>;
    assigned-clocks = <&clk IMX8MQ_CLK_UART4>;
    assigned-clock-parents = <&clk IMX8MQ_SYS1_PLL_80M>;
    fsl,uart-has-rtscts;
    resets = <&bt_reset>;
    status = "okay";
};

&usb3_phy0 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "host";
	status = "okay";
};

&usb3_phy1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

/* HDMI */
&sai4 {
    assigned-clocks = <&clk IMX8MQ_CLK_SAI4>;
    assigned-clock-parents = <&clk IMX8MQ_AUDIO_PLL1_OUT>;
    assigned-clock-rates = <24576000>;
    clocks = <&clk IMX8MQ_CLK_SAI4_IPG>, <&clk IMX8MQ_CLK_DUMMY>,
        <&clk IMX8MQ_CLK_SAI4_ROOT>, <&clk IMX8MQ_CLK_DUMMY>,
        <&clk IMX8MQ_CLK_DUMMY>, <&clk IMX8MQ_AUDIO_PLL1_OUT>,
        <&clk IMX8MQ_AUDIO_PLL2_OUT>;
    clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
    status = "disabled";
};

&dphy {
    status = "okay";
};

&dcss {
    status = "disabled";
};

&hdmi {
    compatible = "cdn,imx8mq-hdmi";
    lane-mapping = <0xe4>;
    status = "disabled";
};

/* MIPI-DSI LCD and Touch Screen */

&pwm1 {
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_pwm1>;
        /*status = "disabled";*/
        status = "okay";
};

&i2c4 {
    clock-frequency = <400000>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c4>;
    status = "disabled";

    ft5426: ft5426_ts@38 {
        compatible = "focaltech,fts";
        reg = <0x38>;
        pinctrl-0 = <&pinctrl_ts>;
        interrupt-parent = <&gpio3>;
        interrupts = <13 2>;
        focaltech,reset-gpio = <&gpio1 4 0x01>;
        focaltech,irq-gpio = <&gpio3 13 0x02>;
        focaltech,max-touch-number = <10>;
        focaltech,panel-type = <0x54260002>; /* _FT5426 */
        focaltech,display-coords =  <0 0 720 1280>;
        focaltech,have-key;
        focaltech,key-number = <3>;
        focaltech,keys = <139 102 158>;
        focaltech,key-y-coord = <2000>;
        focaltech,key-x-coords = <200 600 800>;
        status = "disabled";
    };  

    gt911: gt911_ts@14 {
        compatible = "goodix,gt911"; 
        reg = <0x14>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_ts>;
        interrupt-parent = <&gpio3>;
        interrupts = <13 2>;
        irq-gpios = <&gpio3 13 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpio1 4 GPIO_ACTIVE_HIGH>;
        touchscreen-size-x = <720>;
        touchscreen-size-y = <1280>;
        status = "disabled";
    };  
};

&wdog1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_wdog>;
	fsl,ext-reset-output;
	status = "okay";
};

&iomuxc {
	pinctrl-names = "default";

	pinctrl_ir_recv: ir-recv {
		fsl,pins = <
			MX8MQ_IOMUXC_GPIO1_IO12_GPIO1_IO12		0x4f
		>;
	};
    
	pinctrl_pmic: pmicirq {
        fsl,pins = < 
            MX8MQ_IOMUXC_GPIO1_IO07_GPIO1_IO7       0x19
        >;
    };

    pinctrl_fec1: fec1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_ENET_MDC_ENET1_MDC			0x3
			MX8MQ_IOMUXC_ENET_MDIO_ENET1_MDIO		0x23
			MX8MQ_IOMUXC_ENET_TD3_ENET1_RGMII_TD3		0x1f
			MX8MQ_IOMUXC_ENET_TD2_ENET1_RGMII_TD2		0x1f
			MX8MQ_IOMUXC_ENET_TD1_ENET1_RGMII_TD1		0x1f
			MX8MQ_IOMUXC_ENET_TD0_ENET1_RGMII_TD0		0x1f
			MX8MQ_IOMUXC_ENET_RD3_ENET1_RGMII_RD3		0x91
			MX8MQ_IOMUXC_ENET_RD2_ENET1_RGMII_RD2		0x91
			MX8MQ_IOMUXC_ENET_RD1_ENET1_RGMII_RD1		0x91
			MX8MQ_IOMUXC_ENET_RD0_ENET1_RGMII_RD0		0x91
			MX8MQ_IOMUXC_ENET_TXC_ENET1_RGMII_TXC		0x1f
			MX8MQ_IOMUXC_ENET_RXC_ENET1_RGMII_RXC		0x91
			MX8MQ_IOMUXC_ENET_RX_CTL_ENET1_RGMII_RX_CTL	0x91
			MX8MQ_IOMUXC_ENET_TX_CTL_ENET1_RGMII_TX_CTL	0x1f
			MX8MQ_IOMUXC_GPIO1_IO09_GPIO1_IO9		0x19
		>;
	};

	pinctrl_i2c1: i2c1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_I2C1_SCL_I2C1_SCL			0x4000007f
			MX8MQ_IOMUXC_I2C1_SDA_I2C1_SDA			0x4000007f
		>;
	};

	pinctrl_uart1: uart1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_UART1_RXD_UART1_DCE_RX		0x49
			MX8MQ_IOMUXC_UART1_TXD_UART1_DCE_TX		0x49
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK			0x83
			MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD			0xc3
			MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0		0xc3
			MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1		0xc3
			MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2		0xc3
			MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3		0xc3
			MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4		0xc3
			MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5		0xc3
			MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6		0xc3
			MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7		0xc3
			MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE		0x83
			MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc1_100mhz: usdhc1-100grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK			0x8d
			MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD			0xcd
			MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0		0xcd
			MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1		0xcd
			MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2		0xcd
			MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3		0xcd
			MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4		0xcd
			MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5		0xcd
			MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6		0xcd
			MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7		0xcd
			MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE		0x8d
			MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B		0xc1
		>;
	};

	pinctrl_usdhc1_200mhz: usdhc1-200grp {
		fsl,pins = <
			MX8MQ_IOMUXC_SD1_CLK_USDHC1_CLK			0x9f
			MX8MQ_IOMUXC_SD1_CMD_USDHC1_CMD			0xdf
			MX8MQ_IOMUXC_SD1_DATA0_USDHC1_DATA0		0xdf
			MX8MQ_IOMUXC_SD1_DATA1_USDHC1_DATA1		0xdf
			MX8MQ_IOMUXC_SD1_DATA2_USDHC1_DATA2		0xdf
			MX8MQ_IOMUXC_SD1_DATA3_USDHC1_DATA3		0xdf
			MX8MQ_IOMUXC_SD1_DATA4_USDHC1_DATA4		0xdf
			MX8MQ_IOMUXC_SD1_DATA5_USDHC1_DATA5		0xdf
			MX8MQ_IOMUXC_SD1_DATA6_USDHC1_DATA6		0xdf
			MX8MQ_IOMUXC_SD1_DATA7_USDHC1_DATA7		0xdf
			MX8MQ_IOMUXC_SD1_STROBE_USDHC1_STROBE		0x9f
			MX8MQ_IOMUXC_SD1_RESET_B_USDHC1_RESET_B		0xc1
		>;
	};

    pinctrl_gpio_leds: gpio_ledsgrp {
        fsl,pins = < 
            MX8MQ_IOMUXC_GPIO1_IO05_GPIO1_IO5           0x19
            MX8MQ_IOMUXC_GPIO1_IO08_GPIO1_IO8           0x19
        >;
    };  

    pinctrl_gpio_keys: gpio_keysgrp {
        fsl,pins = < 
            MX8MQ_IOMUXC_NAND_DATA01_GPIO3_IO7          0x56
            MX8MQ_IOMUXC_NAND_DATA00_GPIO3_IO6          0x56
        >;
    };

    pinctrl_usb1_pwr_en: usb1_pwr_en {
        fsl,pins = < 
            MX8MQ_IOMUXC_GPIO1_IO12_GPIO1_IO12      0x16  /* USB1_EN */
        >;
    };

    pinctrl_usdhc2: usdhc2grp {
        fsl,pins = < 
            MX8MQ_IOMUXC_SD2_CLK_USDHC2_CLK         0x83
            MX8MQ_IOMUXC_SD2_CMD_USDHC2_CMD         0xc3
            MX8MQ_IOMUXC_SD2_DATA0_USDHC2_DATA0     0xc3
            MX8MQ_IOMUXC_SD2_DATA1_USDHC2_DATA1     0xc3
            MX8MQ_IOMUXC_SD2_DATA2_USDHC2_DATA2     0xc3
            MX8MQ_IOMUXC_SD2_DATA3_USDHC2_DATA3     0xc3
        >;
    };

    pinctrl_wlan: wlangrp {
        fsl,pins = < 
            MX8MQ_IOMUXC_SD2_RESET_B_GPIO2_IO19         0x19 /* WL_REG_ON */
            MX8MQ_IOMUXC_SD2_CD_B_GPIO2_IO12            0x19 /* WL_HOST_WAKE irq */
            MX8MQ_IOMUXC_GPIO1_IO00_ANAMIX_REF_CLK_32K  0x05 /* 32K CLK IN */
        >;
    };  

    pinctrl_reg3V3wf: reg3V3wfgrp {
        fsl,pins = < 
            MX8MQ_IOMUXC_SD2_WP_GPIO2_IO20              0x19 /* WB_PWR_EN */
        >;
    };  

    pinctrl_uart4: uart4grp {
        fsl,pins = <
            MX8MQ_IOMUXC_UART4_RXD_UART4_DCE_RX         0x49
            MX8MQ_IOMUXC_UART4_TXD_UART4_DCE_TX         0x49
            MX8MQ_IOMUXC_ECSPI2_SS0_UART4_DCE_RTS_B     0x49
            MX8MQ_IOMUXC_ECSPI2_MISO_UART4_DCE_CTS_B    0x49
            MX8MQ_IOMUXC_ECSPI2_MOSI_GPIO5_IO11         0x19
        >;
    };

    pinctrl_pwm1: pwm1_grp {
        fsl,pins = <
            MX8MQ_IOMUXC_GPIO1_IO01_PWM1_OUT        0x06
        >;
    };

    pinctrl_ts: ts_pinsgrp {
        fsl,pins = <
            MX8MQ_IOMUXC_NAND_DATA07_GPIO3_IO13     0x19  /* DSI_TS_nINT */
            MX8MQ_IOMUXC_GPIO1_IO04_GPIO1_IO4       0x19  /* DSI_TS_RST  */
        >;
    };

    pinctrl_i2c4: i2c4grp {
        fsl,pins = <
            MX8MQ_IOMUXC_I2C4_SCL_I2C4_SCL          0x4000007f
            MX8MQ_IOMUXC_I2C4_SDA_I2C4_SDA          0x4000007f
        >;
    };

	pinctrl_wdog: wdog1grp {
		fsl,pins = <
			MX8MQ_IOMUXC_GPIO1_IO02_WDOG1_WDOG_B		0xc6
		>;
	};
};

&irqsteer {
	status = "okay";
};

