/*
 * Copyright 2019 EMBEST
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "maaxboard-mini.dtsi"
#include "maaxboard-mini-extended-gpio.dtsi"

&mipi_dsi {
	panel@0 {
		compatible = "ilitek,ili9881c";
		reg = <0>;
		pinctrl-0 = <&pinctrl_mipi_dsi_en>;
		enable-gpio = <&gpio1 9 GPIO_ACTIVE_HIGH>;
		dsi-lanes = <2>;
		status = "okay";
	};
};

/*&backlight {
		status = "okay";
};*/

&i2c4 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";

	ft5426_ts@38 {
			compatible = "focaltech,fts";
			reg = <0x38>;
			pinctrl-0 = <&pinctrl_ts_ft5426>;

			interrupt-parent = <&gpio3>;
			interrupts = <19 2>;
			focaltech,reset-gpio = <&gpio3 20 0x01>;
			focaltech,irq-gpio = <&gpio3 19 0x02>;
			focaltech,max-touch-number = <10>;
			focaltech,panel-type = <0x54260002>;/* _FT5426 */
			focaltech,display-coords =  <0 0 720 1280>;
			focaltech,have-key;
			focaltech,key-number = <3>;
			focaltech,keys = <139 102 158>;
			focaltech,key-y-coord = <2000>;
			focaltech,key-x-coords = <200 600 800>;
	};
};
